.topbar {
  height: fit-content;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.5rem;
  border-radius: 18px 0 0 0;
  position: absolute;
  z-index: 999;
  width: 100%;
}
.firstSec{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menuIcon{
  cursor: pointer;
  i{
    font-size: 2rem;
  }
}
.secondSec{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.title{
  h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.topbar .search input {
  // width: 320px;
  padding: 10px 12px;
  border-radius: 1rem;
  border: 1px solid #e6ecff;
  background: var(--mat-sys-inverse-on-surface);
  &:focus-visible{
    outline: none;
  }
 
  @media (max-width: 900px) {
    width: 200px;
  }
}
.search{
  flex-shrink: 2;
  min-width: 0;
}
.topbar .actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #cbdcff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.actionIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  i{
    font-size: 1.2rem;
  }
}