.sidebar {
  position: absolute;
  z-index: 50;
  height: 100vh;
  min-width: 300px;
  background: #5dd9d9;
  padding: 18px 0 18px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  @media (max-width: 900px) {
    display: none;
  }
}
ol{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // padding: 0;
  margin: 0;
}
.brand {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 1rem 2rem;
}
.logo {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: var(--accent);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 90%;
  min-width: 300px;
}
.nav a {
  // position: relative;
  // //   position: absolute;
  // font-size: 1rem;
  // padding: 1.2rem 2rem;
  // border-top-left-radius: 1.5rem;
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  // border-bottom-left-radius: 1.5rem;
  color: #ffffffd9;
  text-decoration: none;
  // z-index: 1;
  //   overflow: hidden;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   background: #40189d;
  //   height: 50px;
  //   width: 30px;
  //   right: 0;
  //   top: -50px;
  //   border-radius: 0 0 18px 0;
  //   display: none;
  //   z-index: 999;
  // }
}

// .nav a.active,
// .nav a:hover {
//   background: var(--bg);
//   color: var(--accent);
//   font-weight: 600;
// }
.nav a.active {
  .nav a::before {
    display: block;
  }
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 12px;
  border-top: 1px solid #f0f3f7;
}
.sidebar-footer a {
  color: var(--muted);
  text-decoration: none;
}
mat-expansion-panel {
  background: transparent;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 0;
  border: none;
  .mat-expansion-panel-header-description {
    color: #ffffffd9 !important;
    font-size: 1rem !important;
  }
  .mat-expansion-indicator{
    color: #fff !important;
  }
  .mat-expansion-panel-header{
    padding: 1.8rem 2rem !important;
  }
  .mat-expansion-panel-header-title{
    flex-grow: 0 !important;
    i{
      font-size: 2rem;
      color: #fff;
    }
  }

}
