.app-shell {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.main-area {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg);
  border-radius: 38px 0 0 0;

  @media(max-width: 1024px) {
    width: calc(100% - 80px);
  }
  @media(max-width: 480px) {
    width: 100%;
    position: absolute;
    z-index: 50;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 40px;
    height: 40px;
    z-index: 50;
    background: var(--primary); /* same as background behind box */
    @media(max-width: 480px) {
      display: none;
    }

  }
}
.page-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 80px;
}
